# IDE/Editor files
.idea/
.vscode/

# build artifacts
infer_train
it-server
it-cli

*.gguf
llama.cpp-0.5.0/
llvm-project-llvmorg-23.1.0/
vllm-0.29.0/

# Added by cargo
/target

# Benchmark tools (llama.cpp binaries)
.llama-cpp-tools/
